!version	00043
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=DE loader.10347882
io_de.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.* mod_nr.* mod_typ.=DE loader.10347882
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=DE loader.10302487
io_de.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.* mod_nr.* mod_typ.=DE loader.10302487
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=DE loader.10487313
io_de.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.* mod_nr.* mod_typ.=DE loader.10487313
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=DA32 loader.10347551
io_da32.hex	crc1.0x4F27	name.IOAPPLIC	version.2.003	line.* mod_nr.* mod_typ.=DA32 loader.10347551
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=DA32 loader.10302486
io_da32.hex	crc1.0x4F27	name.IOAPPLIC	version.2.003	line.* mod_nr.* mod_typ.=DA32 loader.10302486
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=AE16 loader.10347550
io_ae16.hex	crc1.0xF202	name.IOAPPLIC	version.2.008	line.* mod_nr.* mod_typ.=AE16 loader.10347550
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=AE16 loader.10302122
io_ae16.hex	crc1.0xF202	name.IOAPPLIC	version.2.008	line.* mod_nr.* mod_typ.=AE16 loader.10302122
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=IA16 loader.10046435
io_inp.hex	crc1.0x9373	name.IOAPPLIC	version.2.010	line.* mod_nr.* mod_typ.=IA16 loader.10046435
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=IA16 loader.10347913
io_inp.hex	crc1.0x9373	name.IOAPPLIC	version.2.010	line.* mod_nr.* mod_typ.=IA16 loader.10347913
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=AA16 loader.10347553
io_aa16.hex	crc1.0x3338	name.IOAPPLIC	version.2.008	line.* mod_nr.* mod_typ.=AA16 loader.10347553
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=OA16 loader.10347554
io_outp.hex	crc1.0xC0B1	name.IOAPPLIC	version.2.030	line.* mod_nr.* mod_typ.=OA16 loader.10347554
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=OA16 loader.10046438
io_outp.hex	crc1.0xC0B1	name.IOAPPLIC	version.2.030	line.* mod_nr.* mod_typ.=OA16 loader.10046438
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=OA16 loader.10347569
io_outp.hex	crc1.0xC0B1	name.IOAPPLIC	version.2.030	line.* mod_nr.* mod_typ.=OA16 loader.10347569
io_outer.hex	crc1.0x4631	name.IO_OUTER	version.2.013	line.* mod_nr.* mod_typ.=OA16 loader.10684694
io_outp.hex	crc1.0xC0B1	name.IOAPPLIC	version.2.030	line.* mod_nr.* mod_typ.=OA16 loader.10684694
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.8929905
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10800926
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10305809
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10313010
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10307266
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10307277
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10509458
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10509457
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10509456
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10509459
io_joy.hex	crc1.0xE7C6	name.IO_OUTER	version.2.015	line.* mod_nr.* mod_typ.=JD loader.10509460
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=TA48 loader.10677270
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=T23D loader.10677271
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=TA54 loader.10677272
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=T25D loader.10677273
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=TA54 loader.10677274
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=TA54 loader.10677275
io_key.hex	crc1.0x1A9C	name.IO_OUTER	version.1.000	line.* mod_nr.* mod_typ.=TA48 loader.10677414
io_immo.hex	crc.0x1F8E	name.WFS1_LBH	version.1.010	line.* mod_nr.107 mod_typ.=IMMO loader.10663904
upd_io.cnf	crc.0xc29eedf5