!version	00016
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=DE loader.10347882
io_app_pme1_de_2_004.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.*	mod_nr.*	mod_typ.=DE loader.10347882
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=DE loader.10302487
io_app_pme1_de_2_004.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.*	mod_nr.*	mod_typ.=DE loader.10302487
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=DE loader.10487313
io_app_pme1_de_2_004.hex	crc1.0xEED7	name.IOAPPLIC	version.2.004	line.*	mod_nr.*	mod_typ.=DE loader.10487313
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=DA32 loader.10347551
io_app_pme1_da32_2_003.hex	crc1.0x4F27	name.IOAPPLIC	version.2.003	line.*	mod_nr.*	mod_typ.=DA32 loader.10347551
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=DA32 loader.10302486
io_app_pme1_da32_2_003.hex	crc1.0x4F27	name.IOAPPLIC	version.2.003	line.*	mod_nr.*	mod_typ.=DA32 loader.10302486
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=AE16 loader.10347550
io_app_pme1_ae16_2_006.hex	crc1.0x80B2	name.IOAPPLIC	version.2.006	line.*	mod_nr.*	mod_typ.=AE16 loader.10347550
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=AE16 loader.10302122
io_app_pme1_ae16_2_006.hex	crc1.0x80B2	name.IOAPPLIC	version.2.006	line.*	mod_nr.*	mod_typ.=AE16 loader.10302122
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=IA16 loader.10046435
io_app_pme1_input_2_010.hex	crc1.0x9373	name.IOAPPLIC	version.2.010	line.*	mod_nr.*	mod_typ.=IA16 loader.10046435
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=IA16 loader.10347913
io_app_pme1_input_2_010.hex	crc1.0x9373	name.IOAPPLIC	version.2.010	line.*	mod_nr.*	mod_typ.=IA16 loader.10347913
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=AA16 loader.10347553
io_app_pme1_aa16_2_006.hex	crc1.0x29E2	name.IOAPPLIC	version.2.006	line.*	mod_nr.*	mod_typ.=AA16 loader.10347553
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=OA16 loader.10347554
io_app_pme1_output_2_023.hex	crc1.0x7E8F	name.IOAPPLIC	version.2.023	line.*	mod_nr.*	mod_typ.=OA16 loader.10347554
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=OA16 loader.10046438
io_app_pme1_output_2_023.hex	crc1.0x7E8F	name.IOAPPLIC	version.2.023	line.*	mod_nr.*	mod_typ.=OA16 loader.10046438
io_outer_2_007.hex	crc1.0x7E91	name.IO_OUTER	version.2.007	line.*	mod_nr.*	mod_typ.=OA16 loader.10347569
io_app_pme1_output_2_023.hex	crc1.0x7E8F	name.IOAPPLIC	version.2.023	line.*	mod_nr.*	mod_typ.=OA16 loader.10347569
io_outer_2_002.hex	crc1.0xF1E6	name.IO_OUTER	version.2.002	line.*	mod_nr.*	mod_typ.=GYRO loader.10444997
io_app_pme1_inertia_2_002.hex	crc1.0xC9CA	name.IOAPPLIC	version.2.002	line.*	mod_nr.*	mod_typ.=GYRO loader.10444997
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.8929905
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10800926
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10305809
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10313010
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10307266
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10307277
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10509458
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10509457
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10509456
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10509459
io_app_pme1_joystick_2_006.hex	crc1.0xD6B2	name.IO_OUTER	version.2.006	line.*	mod_nr.* mod_typ.=JD loader.10509460

upd_io.cnf	crc.0x98abd302