!version	00053
mon_out_5_1.hex	crc1.0xEFED	name.mon_out	version.5.132	client.*	server.BILD	loader.10278735
mon_out_5_1.hex	crc1.0xEFED	name.mon_out	version.5.132	client.*	server.BILD	loader.10426950
mon_out_5_3.hex	crc1.0x0D27	name.mon_out	version.5.326	client.*	server.BILD	loader.10499224
mon_out_6.hex	crc1.0x1018	name.mon_out	version.6.031	client.LAN1	server.BILD	loader.10446150
mon_out_6.hex	crc1.0x1018	name.mon_out	version.6.031	client.LAN2	server.BILD	loader.10446150
mon_out_6.hex	crc1.0x1018	name.mon_out	version.6.031	client.LAN3	server.BILD	loader.10446150

upd_mon.cnf	crc.0x47a74264